.implementation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;

}

.implementation-form input[type=text],
.implementation-form textarea,
.implementation-form select {
    width: 95%;
    padding: 10px;
    border: solid #3498db 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #3498db;
}

.argument-row {
    display: flex;
    flex-direction: row;
}

.argument-value, .argument-type {
    margin: 5px;
}

#file-content {
    resize: vertical;
    height: 400px;
    min-height: 200px;
    font-family: 'Courier New', monospace;
    white-space: pre;
    overflow-x: auto;
    margin-bottom: 0px;
}

.implementation-form input[type=text]:focus,
.implementation-form textarea:focus,
.implementation-form select:focus {
    border: solid #3498db 1px;
}

.implementation-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.implementation-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.implementation-form button:hover {
    background: #2980b9;
}

.hidden {
    display: none;
}

#implementation-title-container {
    text-align: center;
    color: #ffffff;
}

#form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    color: #3498db;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 90%;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

#submit-button-container {
    text-align: center;
    padding: 20px 0;
}

#cancel-button {
    background-color: red;
}

.form-error {
    color: red;
    text-align: center;
    max-width: 90%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

#file-form-error {
    margin-top: 0px;
    text-align: left;
}

.delete-argument {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
